# Expo cahce
.expo

# Node modules
node_modules/

# Environment variables
.env

# Build files
dist/

# Yarn cache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions